{% extends 'base.html.twig' %}
{% block content %}
    <div class="vertical-space-85"></div>
    <div class="vertical-space-85"></div>
    <!doctype html>
    <html lang="zxx">
    <center> <iframe
            src="https://tokbox.com/embed/embed/ot-embed.js?embedId=71d994ef-ca78-4adc-9a18-c96cf65d121e&room=DEFAULT_ROOM&iframe=true"
            width="660px"
            height="500px"
            scrolling="auto"
            allow="microphone; camera"
    ></iframe>
    </center>
    </html>
{% endblock %}